{% extends "layout.html" %}
{% block title %} tweets {% endblock %} {% block content %}

<h1 class="text-center mt-4">welcome to chai or code</h1>
<h2>
  {% if form.instance.pk %} Edit Tweet {% else %} Create Tweet {% endif %}
  <form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Submit</button>
  </form>
  <a href="{% url "tweet_list" %}">Back to Tweet list</a>
</h2>
{% endblock %}
